<div id="cart">
	<div class="left"></div>
	<div class="icon"><img src="/images/shop/icon_cart.png" width="33" height="31" alt="Cart" />
	</div>
	<ul class="text">
		<li>
			<a href="#">0 items</a><span class="white">|</span>
		</li>
		<li>
			<a href="#">$0.00</a><span class="white">|</span>
		</li>
		<li>
			<a href="#">Checkout</a>
		</li>
	</ul>
	<div class="right"></div>
</div>
