<div id="main_menu">
	<div class="menu-other-menu-container">
		<ul id="menu-other-menu" class="menu">
			<li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-30 current_page_item menu-item-32">
				<a href="http://tf.dtbaker.com.au/wordpress/child_care_creative/">Home</a>
				<ul class="sub-menu">
					<li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22">
						<a href="http://tf.dtbaker.com.au/wordpress/child_care_creative/home-basic-buttons/home-style1-animated-banner/">Home &#8211; Option 2</a>
					</li>
					<li id="menu-item-147" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-147">
						<a href="http://tf.dtbaker.com.au/wordpress/child_care_creative/home-basic-buttons/home-no-banner/">Home &#8211; Option 3</a>
					</li>
					<li id="menu-item-158" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-158">
						<a href="http://tf.dtbaker.com.au/wordpress/child_care_creative/home-basic-buttons/home-static-banner/">Home &#8211; Option 4</a>
					</li>
				</ul>
			</li>
			<li id="menu-item-4" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4">
				<a href="http://tf.dtbaker.com.au/wordpress/child_care_creative/about/">About</a>
			</li>
			<li id="menu-item-188" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-188">
				<a href="http://tf.dtbaker.com.au/wordpress/child_care_creative/examples/">Examples</a>
				<ul class="sub-menu">
					<li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24">
						<a href="http://tf.dtbaker.com.au/wordpress/child_care_creative/examples/full-width-page/">No Sidebar (full width page)</a>
					</li>
					<li id="menu-item-189" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-189">
						<a href="http://tf.dtbaker.com.au/wordpress/child_care_creative/examples/left-sidebar/">Left Sidebar</a>
					</li>
					<li id="menu-item-199" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-199">
						<a href="http://tf.dtbaker.com.au/wordpress/child_care_creative/examples/shortcodes/">Shortcodes</a>
					</li>
				</ul>
			</li>
			<li id="menu-item-11" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11">
				<a href="http://tf.dtbaker.com.au/wordpress/child_care_creative/blog/">Blog</a>
			</li>
			<li id="menu-item-65" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65">
				<a href="http://tf.dtbaker.com.au/wordpress/child_care_creative/child-care-shop/">Shop</a>
				<ul class="sub-menu">
					<li id="menu-item-170" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170">
						<a href="http://tf.dtbaker.com.au/wordpress/child_care_creative/specials/">Specials</a>
					</li>
				</ul>
			</li>
			<li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">
				<a href="http://tf.dtbaker.com.au/wordpress/child_care_creative/gallery/">Gallery</a>
			</li>
			<li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20">
				<a href="http://tf.dtbaker.com.au/wordpress/child_care_creative/testimonials/">Testimonials</a>
			</li>
			<li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27">
				<a href="http://tf.dtbaker.com.au/wordpress/child_care_creative/contact/">Contact</a>
			</li>
		</ul>
	</div>
</div>
<!--end menu-->